body {
	background-color: #fafafa;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.5;
}

#textareas {
	display: flex;
	justify-content: center;
	align-content: space-around;
	flex-wrap: wrap;
}

textarea {
	resize: none;
	margin: 0.5em;
	flex-grow: 1;
	min-width: 20em;
	max-width: 40em;
	height: 14em;
	padding: 0.5em;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.txt {
	text-align: center;
	margin: 0.5em;
}

p {
	margin: 0em;
}
